@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5c93c4; /* Custom blue from mockup */
  --color-background: #e9f2fa; /* Light blue background */
  --color-surface: #ffffff;
  
  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #333333;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}
